@use "../media.scss";
@use "../color.scss";
@use "../fonts.scss";

.info {
  &__experience {
    display: flex;
    flex-direction: column;

    .experience__list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0;
      margin: 0;
      list-style: none;

      .experience__item {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
        padding-bottom: 10px;
        border-bottom: 1px dotted rgb(77, 49, 179);

        .item__title {
          grid-column: 1/3;
          margin: 20px 0;
          @include fonts.h3;
          color: color.$dark-blue;
        }

        .item__company {
          margin: 0;
          @include fonts.body-regular;
          color: color.$black;
        }

        .item__date {
          margin: 0;
          @include fonts.body-light;
          color: color.$black;
        }

        .item__duties {
          grid-column: 1/3;
          @include fonts.body-regular;
          color: color.$black;

          .item__subtitle {
            margin: 5px 0;
            @include fonts.subtitle;
            color: color.$black;
          }
        }

        .item__results {
          grid-column: 1/3;
          margin-top: 10px;
          @include fonts.body-regular;
          color: color.$black;

          .item__subtitle {
            margin: 5px 0;
            @include fonts.subtitle;
            color: color.$black;
          }

          .project__link {
            text-decoration: none;
            color: color.$black;

            &:hover {
              color: color.$pink-light;
            }
          }
        }
      }
    }
  }
}
