.profile__info {
  align-items: center;
  gap: 10%;
  display: flex;
}

.profile__info .info__photo {
  height: 150px;
  width: 175px;
  border-radius: 50%;
}

@media (min-width: 568px) {
  .profile__info .info__photo {
    height: 175px;
    width: 200px;
  }
}

@media (min-width: 768px) {
  .profile__info .info__photo {
    height: 200px;
    width: 225px;
  }
}

.profile__info .info__text p:nth-child(1) {
  color: #2d3e5b;
  letter-spacing: -.05em;
  margin: 0;
  font-family: Spectral, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 46px;
}

@media (min-width: 568px) {
  .profile__info .info__text p:nth-child(1) {
    font-size: 48px;
    line-height: 58px;
  }
}

@media (min-width: 768px) {
  .profile__info .info__text p:nth-child(1) {
    font-size: 56px;
    line-height: 62px;
  }
}

.profile__info .info__text p:nth-child(2) {
  color: #db9291;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: 14px;
}

@media (min-width: 568px) {
  .profile__info .info__text p:nth-child(2) {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 768px) {
  .profile__info .info__text p:nth-child(2) {
    font-size: 18px;
    line-height: 24px;
  }
}

.profile__links {
  justify-content: flex-start;
  gap: 5%;
  padding: 0;
  list-style: none;
  display: flex;
}

.profile__link {
  color: #242424;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  display: flex;
}

@media (min-width: 568px) {
  .profile__link {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 768px) {
  .profile__link {
    font-size: 18px;
    line-height: 24px;
  }
}

.profile__link a {
  color: inherit;
  text-decoration: none;
}

.profile__link a:hover {
  color: #db9291;
}

.profile__link a:active {
  color: #e95f5d;
  text-decoration: underline;
}

.info__section {
  border-top: 1px solid #0003;
  border-bottom: 1px solid #0003;
  padding-bottom: 12px;
}

.info__subtitle {
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #db9291;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: 14px;
}

@media (min-width: 568px) {
  .info__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 768px) {
  .info__subtitle {
    font-size: 18px;
    line-height: 24px;
  }
}

.info__general {
  color: #242424;
  letter-spacing: -.05em;
  background-color: #ededed;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 16px;
  font-family: Spectral, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 130.2%;
}

@media (min-width: 568px) {
  .info__general {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .info__general {
    font-size: 18px;
  }
}

.info__education {
  flex-direction: column;
  display: flex;
}

.info__education .education__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.info__education .education__list .education__item {
  flex-direction: column;
  display: flex;
}

.info__education .education__list .education__item .education__info {
  letter-spacing: -.03em;
  color: #2d3e5b;
  margin-bottom: 0;
  font-family: Spectral, serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 21px;
}

@media (min-width: 568px) {
  .info__education .education__list .education__item .education__info {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 768px) {
  .info__education .education__list .education__item .education__info {
    font-size: 24px;
    line-height: 32px;
  }
}

.info__education .education__list .education__item .education__dates {
  color: #242424;
  margin-top: 0;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

@media (min-width: 568px) {
  .info__education .education__list .education__item .education__dates {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (min-width: 768px) {
  .info__education .education__list .education__item .education__dates {
    font-size: 18px;
    line-height: 24px;
  }
}

.info__courses {
  flex-direction: column;
  display: flex;
}

.info__courses .courses__list {
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.info__courses .courses__list .courses__item {
  flex-direction: column;
  display: flex;
}

.info__courses .courses__list .courses__item p:nth-child(1) {
  letter-spacing: -.03em;
  color: #2d3e5b;
  margin-bottom: 0;
  font-family: Spectral, serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 21px;
}

@media (min-width: 568px) {
  .info__courses .courses__list .courses__item p:nth-child(1) {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 768px) {
  .info__courses .courses__list .courses__item p:nth-child(1) {
    font-size: 24px;
    line-height: 32px;
  }
}

.info__courses .courses__list .courses__item p:nth-child(2) {
  color: #242424;
  margin-top: 0;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

@media (min-width: 568px) {
  .info__courses .courses__list .courses__item p:nth-child(2) {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (min-width: 768px) {
  .info__courses .courses__list .courses__item p:nth-child(2) {
    font-size: 18px;
    line-height: 24px;
  }
}

.info__experience {
  flex-direction: column;
  display: flex;
}

.info__experience .experience__list {
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.info__experience .experience__list .experience__item {
  border-bottom: 1px dotted #4d31b3;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(2, auto);
  padding-bottom: 10px;
  display: grid;
}

.info__experience .experience__list .experience__item:last-child {
  border-bottom: none;
}

.info__experience .experience__list .experience__item .item__title {
  letter-spacing: -.03em;
  color: #2d3e5b;
  grid-column: 1 / 3;
  margin: 20px 0;
  font-family: Spectral, serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 21px;
}

@media (min-width: 568px) {
  .info__experience .experience__list .experience__item .item__title {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 768px) {
  .info__experience .experience__list .experience__item .item__title {
    font-size: 24px;
    line-height: 32px;
  }
}

.info__experience .experience__list .experience__item .item__company {
  color: #242424;
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

@media (min-width: 568px) {
  .info__experience .experience__list .experience__item .item__company {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (min-width: 768px) {
  .info__experience .experience__list .experience__item .item__company {
    font-size: 18px;
    line-height: 24px;
  }
}

.info__experience .experience__list .experience__item .item__date {
  color: #242424;
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
}

@media (min-width: 568px) {
  .info__experience .experience__list .experience__item .item__date {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 768px) {
  .info__experience .experience__list .experience__item .item__date {
    font-size: 18px;
    line-height: 24px;
  }
}

.info__experience .experience__list .experience__item .item__duties {
  color: #242424;
  grid-column: 1 / 3;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

@media (min-width: 568px) {
  .info__experience .experience__list .experience__item .item__duties {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (min-width: 768px) {
  .info__experience .experience__list .experience__item .item__duties {
    font-size: 18px;
    line-height: 24px;
  }
}

.info__experience .experience__list .experience__item .item__duties .item__subtitle {
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #242424;
  margin: 5px 0;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: 14px;
}

@media (min-width: 568px) {
  .info__experience .experience__list .experience__item .item__duties .item__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 768px) {
  .info__experience .experience__list .experience__item .item__duties .item__subtitle {
    font-size: 18px;
    line-height: 24px;
  }
}

.info__experience .experience__list .experience__item .item__results {
  color: #242424;
  grid-column: 1 / 3;
  margin-top: 10px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

@media (min-width: 568px) {
  .info__experience .experience__list .experience__item .item__results {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (min-width: 768px) {
  .info__experience .experience__list .experience__item .item__results {
    font-size: 18px;
    line-height: 24px;
  }
}

.info__experience .experience__list .experience__item .item__results .item__subtitle {
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #242424;
  margin: 5px 0;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: 14px;
}

@media (min-width: 568px) {
  .info__experience .experience__list .experience__item .item__results .item__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 768px) {
  .info__experience .experience__list .experience__item .item__results .item__subtitle {
    font-size: 18px;
    line-height: 24px;
  }
}

.info__experience .experience__list .experience__item .item__results .project__link {
  color: #242424;
  text-decoration: none;
}

.info__experience .experience__list .experience__item .item__results .project__link:hover {
  color: #db9291;
}

.info__skills {
  flex-direction: column;
  display: flex;
}

.info__skills .skills__section h3 {
  letter-spacing: -.03em;
  color: #2d3e5b;
  font-family: Spectral, serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 21px;
}

@media (min-width: 568px) {
  .info__skills .skills__section h3 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 768px) {
  .info__skills .skills__section h3 {
    font-size: 24px;
    line-height: 32px;
  }
}

.info__skills .skills__section p, .info__skills .skills__section ul {
  color: #242424;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
}

@media (min-width: 568px) {
  .info__skills .skills__section p, .info__skills .skills__section ul {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 768px) {
  .info__skills .skills__section p, .info__skills .skills__section ul {
    font-size: 18px;
    line-height: 24px;
  }
}

.info__skills .certificates_list {
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.info__skills .certificates_list .certificate-link {
  letter-spacing: -.03em;
  color: #242424;
  font-family: Spectral, serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 21px;
  text-decoration: none;
}

@media (min-width: 568px) {
  .info__skills .certificates_list .certificate-link {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 768px) {
  .info__skills .certificates_list .certificate-link {
    font-size: 24px;
    line-height: 32px;
  }
}

.info__skills .certificates_list .certificate-link:hover {
  color: #db9291;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

/*# sourceMappingURL=index.e378193d.css.map */
